@model BidZ.lk.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}


<div class="col-lg-offset-2">
    <h2>Details</h2>
    <div>
        <h4>ApplicationUser</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.userFname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userFname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.userLname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userLname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.userContactNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userContactNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.commercialName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.commercialName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.commercialAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.commercialAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.commercialEmail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.commercialEmail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.userType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.userType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>



        </dl>
    </div>
    </div>
