@model IEnumerable<BidZ.lk.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="col-5">Index</h2>

<p>
    @Html.ActionLink("Create New User Manually", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userFname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userLname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userContactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commercialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commercialAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commercialEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userFname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userLname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userContactNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commercialName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commercialAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commercialEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
