@model IEnumerable<BidZ.lk.Models.Auction>
@{ 
    var variable = "Fine";
}


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.productType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productAddress)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentPrice)
            </th>
            <th>
                <h4> Product Image </h4>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productAddress)
                </td>
                <td>
                    
                    @Html.DisplayFor(modelItem => item.EndTime)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPrice)
                </td>
                <td>
                    <a href="@Url.Action("auction", "Auctions", new { id = item.Id })"><img src="@Url.Content(item.ImageURL)" width="355" height="355" /></a>
                </td>
              
            </tr>
        }

    </table>
